#{extends 'main.html' /}
#{set title:'Inscription' /}

<head>	
	
</head>
<body>
<div class="span12">
#{form @Application.creattionAdherent()}
    <div class="row-fluid">
        <div class="span3"><label for="user_lastname">Votre nom*: </label></div>
        <div class="span2">
        <input type="text" name="user_lastname" id="user_lastname" required="required" /></div>
    </div>
    <div class="row-fluid">
        <div class="span3"><label for="user_firstname">Votre prénom*: </label></div>
        <div class="span2"><input type="text" name="user_firstname" id="user_firstname" required="required"/></div>
    </div>
    
    
    <div class="row-fluid">
        <div class="span3"><label for="user_password">Votre mot de passe*: </label></div>
        <div class="span2"><input type="password" name="user_password" id="user_password" required="required"/></div>
    </div>
    
    
  
    
    <div class="row-fluid">
        <div class="span2"><input type="submit" value="Submit your registration" /></div>
    </div>
#{/form}
</div>
</body>